#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-info .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-lists .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-widget-settings .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-settings .wp-menu-image{
	background: transparent url('../img/egoi-mail-list-builder-woocommerce-menuicon-56px.png') no-repeat 0 0;
	overflow: hidden;
}

#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-info:hover .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-info.current .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-info.wp-has-current-submenu .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-lists:hover .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-lists.current .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-lists.wp-has-current-submenu .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-widget-settings:hover .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-widget-settings.current .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-widget-settings.wp-has-current-submenu .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-settings:hover .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-settings.current .wp-menu-image,
#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-settings.wp-has-current-submenu .wp-menu-image{
	background-position: -28px 0;
}

#icon-egoi-mail-list-builder-woocommerce-info,
#icon-egoi-mail-list-builder-woocommerce-lists,
#icon-egoi-mail-list-builder-woocommerce-widget-settings,
#icon-egoi-mail-list-builder-woocommerce-settings {
	background-image: url('../img/egoi-mail-list-builder-woocommerce-pageicon-32px.png');
	background-repeat: no-repeat;
}

@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
		
		#icon-egoi-mail-list-builder-woocommerce-info,
		#icon-egoi-mail-list-builder-woocommerce-lists,
		#icon-egoi-mail-list-builder-woocommerce-widget-settings,
		#icon-egoi-mail-list-builder-woocommerce-settings {
			background-image: url('../img/egoi-mail-list-builder-woocommerce-pageicon-64px.png');
			background-size: 32px 32px;
		}

		#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-info .wp-menu-image,
		#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-lists .wp-menu-image,
		#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-widget-settings .wp-menu-image,
		#adminmenu li#toplevel_page_egoi-mail-list-builder-woocommerce-settings .wp-menu-image {
			background-image: url('../img/egoi-mail-list-builder-woocommerce-menuicon-112px.png');
			background-size: 56px 28px;
		}
	}